h1 {
  text-align: center;
}

.btn {
  margin-left: 40rem;
  margin-top: 5rem;
  border: 2px solid black;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
}
body {
  background-image: url("car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  transition: 0.5s;
}

.btn:hover {
  background-color: palevioletred;
}
.p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.para {
  margin: 15px;
}
